{{#resume.basics}}
    <section id="basics">
        <div id="header-container">
            <div class="container__row">
                <div class="v-container__col--start">
                    <img id="profile-image" src="./ghost_dog.jpg" alt="">
                </div>
                <div class="container__col">
                    <div class="v-container__col--center">
                        <div id="name-role-container">
                            <h1>{{name}} <i class="icon-emo-coffee"></i></h1>
                            <div class="container__row">
                                <h2>{{label}}</h2>
                                <div class="container__row">
                                    <div class="v-container__col--center">
                                        <div id="location-container">
                                            {{#location}}
                                                <section id="location">
                                                    {{#if address}}
                                                        <div class="address">
                                                            {{address}}
                                                        </div>
                                                    {{/if}}
                                                    {{#if city}}
                                                        <div class="city">
                                                            {{city}}
                                                        </div>
                                                    {{/if}}
                                                    {{#if region}}
                                                        <div class="region">
                                                            {{region}}
                                                        </div>
                                                    {{/if}}
                                                    {{#if countryCode}}
                                                        <div class="countryCode">
                                                            {{countryCode}}
                                                        </div>
                                                    {{/if}}
                                                    {{#if postalCode}}
                                                        <div class="postalCode">
                                                            {{postalCode}}
                                                        </div>
                                                    {{/if}}
                                                </section>
                                            {{/location}}
                                        </div>
                                    </div>

                                    <div class="v-container__col--center">
                                        <div class="contact">
                                            {{#if website}}
                                                <div class="website">
                                                    <i class="icon-sitemap"></i>
                                                    <a href="{{website}}">{{website}}</a>
                                                </div>
                                            {{/if}}
                                            {{#if email}}
                                                <div class="email">
                                                    <i class="icon-mail-alt"></i>
                                                    <a href="mailto:{{email}}">{{email}}</a>
                                                </div>
                                            {{/if}}
                                            {{#if phone}}
                                                <div class="phone">
                                                    <i class="icon-mobile"></i>
                                                    <a href="tel:{{phone}}">{{phone}}</a>
                                                </div>
                                            {{/if}}

                                            {{#if profiles.length}}
                                                <div id="profiles">
                                                    {{#each profiles}}
                                                        <div class="item">
                                                            {{#if network}}
                                                                <strong class="network">
                                                                    {{network}}
                                                                </strong>
                                                            {{/if}}

                                                            {{#if url}}
                                                            <a href="{{url}}">
                                                            {{/if}}

                                                            {{#if username}}
                                                                <div class="username">
                                                                    {{username}}
                                                                </div>
                                                            {{/if}}

                                                            {{#if url}}
                                                            </a>
                                                            {{/if}}
                                                        </div>
                                                    {{/each}}
                                                </div>
                                            {{/if}}

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        {{#if summary}}
            <div class="summary">
                <p>{{summary}}</p>
            </div>
        {{/if}}

    </section>
{{/resume.basics}}